.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
  span {
    width: 30px;
    display: block;
    height: 3px;
    background-color: #151812;
  }
  span.long {
    width: 36px;
    height: 3px;
    display: block;
    background-color: #151812;
  }
}
